body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    align-items: center;
}

.header h1 {
    position: absolute; /* Makes the h1 element positioned absolutely relative to the header */
    left: 50%; /* Moves the h1 element to the center of the header */
    transform: translateX(-50%); /* Adjusts the position to truly center the h1 element */
    margin: 0; /* Removes default margin */
}

.connect-button {
    background-color: #f39c12;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.connect-button:hover {
    background-color: #e67e22;
}

.column {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    width: 48%;
}

.left-column, .right-column {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* So the padding doesn't affect the overall width */
}

input[type="date"] {
    cursor: pointer;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

button:hover {
    background-color: #4cae4c;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

#taskList {
    margin-bottom: 20px;
}
